APPER1/obj/Debug/upload.flag
APPER1/obj/Debug/stub_application_data.txt
APPER1/obj/Debug/strip.flag
APPER1/obj/Debug/static.flag
APPER1/obj/Debug/resourcepaths.cache
APPER1/obj/Debug/resolved_assemblies.txt
APPER1/obj/Debug/res/values/strings.xml
APPER1/obj/Debug/res/layout/main.xml
APPER1/obj/Debug/res/drawable/point.png
APPER1/obj/Debug/linksrc/APPER1.dll
APPER1/obj/Debug/linkdst/APPER1.pdb
APPER1/obj/Debug/linkdst/APPER1.dll.mdb
APPER1/obj/Debug/linkdst/APPER1.dll
APPER1/obj/Debug/link.flag
APPER1/obj/Debug/libraryprojectimports.cache
APPER1/obj/Debug/libraryimports.cache
APPER1/obj/Debug/devices.cache
APPER1/obj/Debug/build.props
APPER1/obj/Debug/android_debug_keystore.flag
APPER1/obj/Debug/android/typemap.mj
APPER1/obj/Debug/android/typemap.jm
APPER1/obj/Debug/android/src/mono/android/app/NotifyTimeZoneChanges.java
APPER1/obj/Debug/android/src/mono/android/app/ApplicationRegistration.java
APPER1/obj/Debug/android/bin/classes.dex
APPER1/obj/Debug/android/bin/APPER1.APPER1.apk
APPER1/obj/Debug/android/assets/mscorlib.pdb
APPER1/obj/Debug/android/apper1/apper1/R.java
APPER1/obj/Debug/android/AndroidManifest.xml
APPER1/obj/Debug/ad0616030901590b42.deployment
APPER1/obj/Debug/acw-map.txt
APPER1/obj/Debug/_javac.stamp
APPER1/obj/Debug/_dex_stamp
APPER1/obj/Debug/__library_projects__/System.Runtime.stamp
APPER1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
APPER1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
APPER1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
APPER1/obj/Debug/R.cs.flag
APPER1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
APPER1/obj/Debug/APPER1.pdb
APPER1/obj/Debug/APPER1.dll
APPER1/obj/Debug/APPER1.csprojResolveAssemblyReference.cache
APPER1/obj/Debug/APPER1.csproj.FileListAbsolute.txt
APPER1/obj/Debug/APPER1.csproj.CoreCompileInputs.cache
APPER1/obj/.cache/APPER1.APPER1.flag
APPER1/bin/Debug/mscorlib.pdb
APPER1/bin/Debug/System.pdb
APPER1/bin/Debug/System.Xml.pdb
APPER1/bin/Debug/System.ServiceModel.Internals.pdb
APPER1/bin/Debug/System.Runtime.Serialization.pdb
APPER1/bin/Debug/System.Net.Http.pdb
APPER1/bin/Debug/System.Core.pdb
APPER1/bin/Debug/System.ComponentModel.Composition.pdb
APPER1/bin/Debug/Mono.Security.pdb
APPER1/bin/Debug/Mono.Android.pdb
APPER1/bin/Debug/APPER1.pdb
APPER1/obj/Debug/android/src/md52551a85c856efa788185132ad49afdc1/KaartView.java
APPER1/obj/Debug/android/src/apper1/apper1/R.java
APPER1/obj/Debug/android/manifest/AndroidManifest.xml
APPER1/obj/Debug/android/bin/packaged_resources
APPER1/obj/Debug/android/bin/mono.android.jar
APPER1/obj/Debug/android/bin/classes/mono/android/app/NotifyTimeZoneChanges.class
APPER1/obj/Debug/android/bin/classes/mono/android/app/ApplicationRegistration.class
APPER1/obj/Debug/android/bin/classes/mono/android/Seppuku.class
APPER1/obj/Debug/android/bin/classes/mono/MonoRuntimeProvider.class
APPER1/obj/Debug/android/bin/classes/mono/MonoPackageManager_Resources.class
APPER1/obj/Debug/android/bin/classes/mono/MonoPackageManager.class
APPER1/obj/Debug/android/bin/classes/md52551a85c856efa788185132ad49afdc1/MainActivity.class
APPER1/obj/Debug/android/bin/classes/md52551a85c856efa788185132ad49afdc1/KaartView.class
APPER1/obj/Debug/android/bin/classes/apper1/apper1/R.class
APPER1/obj/Debug/android/bin/classes/apper1/apper1/R$string.class
APPER1/obj/Debug/android/assets/System.Reflection.Extensions.dll
APPER1/obj/Debug/android/assets/System.Net.Http.pdb
APPER1/obj/Debug/android/assets/System.Net.Http.dll
APPER1/obj/Debug/android/assets/System.Linq.dll
APPER1/obj/Debug/android/assets/System.Diagnostics.Debug.dll
APPER1/obj/Debug/android/assets/System.Core.pdb
APPER1/obj/Debug/android/assets/System.Core.dll
APPER1/obj/Debug/android/assets/System.ComponentModel.Composition.pdb
APPER1/obj/Debug/android/assets/System.ComponentModel.Composition.dll
APPER1/obj/Debug/android/assets/System.Collections.dll
APPER1/obj/Debug/android/assets/System.Collections.Concurrent.dll
APPER1/obj/Debug/android/assets/Mono.Security.pdb
APPER1/obj/Debug/android/assets/Mono.Security.dll
APPER1/obj/Debug/android/assets/Mono.Android.pdb
APPER1/obj/Debug/android/assets/Mono.Android.dll
APPER1/obj/Debug/android/assets/Java.Interop.dll
APPER1/obj/Debug/android/assets/APPER1.dll.mdb
APPER1/obj/Debug/android/assets/APPER1.dll
APPER1/obj/Debug/linksrc/System.Net.Http.pdb
APPER1/obj/Debug/linksrc/System.Net.Http.dll
APPER1/obj/Debug/linksrc/System.Linq.dll
APPER1/obj/Debug/linksrc/System.Diagnostics.Debug.dll
APPER1/obj/Debug/linksrc/System.Core.pdb
APPER1/obj/Debug/linksrc/System.Core.dll
APPER1/obj/Debug/linksrc/System.ComponentModel.Composition.pdb
APPER1/obj/Debug/linksrc/System.ComponentModel.Composition.dll
APPER1/obj/Debug/linksrc/System.Collections.dll
APPER1/obj/Debug/linksrc/System.Collections.Concurrent.dll
APPER1/obj/Debug/linksrc/Mono.Security.pdb
APPER1/obj/Debug/linksrc/Mono.Security.dll
APPER1/obj/Debug/linksrc/Mono.Android.pdb
APPER1/obj/Debug/linksrc/Mono.Android.dll
APPER1/obj/Debug/linksrc/Java.Interop.dll
APPER1/obj/Debug/linksrc/APPER1.dll.mdb
APPER1/obj/Debug/android/assets/mscorlib.dll
APPER1/obj/Debug/android/assets/machine.config
APPER1/obj/Debug/android/assets/System.pdb
APPER1/obj/Debug/android/assets/System.dll
APPER1/obj/Debug/android/assets/System.Xml.pdb
APPER1/obj/Debug/android/assets/System.Xml.dll
APPER1/obj/Debug/android/assets/System.Threading.dll
APPER1/obj/Debug/android/assets/System.ServiceModel.Internals.pdb
APPER1/obj/Debug/android/assets/System.ServiceModel.Internals.dll
APPER1/obj/Debug/android/assets/System.Runtime.dll
APPER1/obj/Debug/android/assets/System.Runtime.Serialization.pdb
APPER1/obj/Debug/android/assets/System.Runtime.Serialization.dll
APPER1/obj/Debug/android/assets/System.Runtime.InteropServices.dll
APPER1/obj/Debug/android/assets/System.Runtime.Extensions.dll
APPER1/obj/Debug/android/assets/System.Reflection.dll
APPER1/bin/Debug/APPER1.dll.mdb
APPER1/bin/Debug/APPER1.dll
APPER1/bin/Debug/APPER1.APPER1.apk
APPER1/bin/Debug/APPER1.APPER1-Signed.apk
APPER1/.vs/APPER1/v15/.suo
APPER1/obj/Debug/res/drawable/kaart.png
APPER1/obj/Debug/res/drawable/icon.png
APPER1/obj/Debug/linksrc/mscorlib.pdb
APPER1/obj/Debug/linksrc/mscorlib.dll
APPER1/obj/Debug/linksrc/System.pdb
APPER1/obj/Debug/linksrc/System.dll
APPER1/obj/Debug/linksrc/System.Xml.pdb
APPER1/obj/Debug/linksrc/System.Xml.dll
APPER1/obj/Debug/linksrc/System.Threading.dll
APPER1/obj/Debug/linksrc/System.ServiceModel.Internals.pdb
APPER1/obj/Debug/linksrc/System.ServiceModel.Internals.dll
APPER1/obj/Debug/linksrc/System.Runtime.dll
APPER1/obj/Debug/linksrc/System.Runtime.Serialization.pdb
APPER1/obj/Debug/linksrc/System.Runtime.Serialization.dll
APPER1/obj/Debug/linksrc/System.Runtime.InteropServices.dll
APPER1/obj/Debug/linksrc/System.Runtime.Extensions.dll
APPER1/obj/Debug/linksrc/System.Reflection.dll
APPER1/obj/Debug/linksrc/System.Reflection.Extensions.dll
APPER1/obj/Debug/android/src/mono/android/Seppuku.java
APPER1/obj/Debug/android/src/mono/MonoRuntimeProvider.java
APPER1/obj/Debug/android/src/mono/MonoPackageManager.java
APPER1/obj/Debug/android/src/md52551a85c856efa788185132ad49afdc1/MainActivity.java
APPER1/obj/Debug/android/bin/classes/apper1/apper1/R$layout.class
APPER1/obj/Debug/android/bin/classes/apper1/apper1/R$drawable.class
APPER1/obj/Debug/android/bin/classes/apper1/apper1/R$attr.class
