APPER1/obj/Debug/resolved_inspector_assemblies.txt
APPER1/obj/Debug/res/values/strings.xml
APPER1/obj/Debug/res/layout/main.xml
APPER1/obj/Debug/res/drawable/point.png
APPER1/obj/Debug/res/drawable/kaart.png
APPER1/obj/Debug/res/drawable/icon.png
APPER1/obj/Debug/libraryprojectimports.cache
APPER1/obj/Debug/libraryimports.cache
APPER1/obj/Debug/build.props
APPER1/obj/Debug/android/apper1/apper1/R.java
APPER1/obj/Debug/__library_projects__/System.Runtime.stamp
APPER1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
APPER1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
APPER1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
APPER1/obj/Debug/R.cs.flag
APPER1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
APPER1/obj/Debug/APPER1.csproj.CoreCompileInputs.cache
APPER1/APPER1.csproj.bak
APPER1/.vs/APPER1/v15/.suo
